.navbar-nav.align-items-center {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#form-topo {
    margin-left: 60px;

}

#campo-de-pesquisa {
    width: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#pesquisar {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 6px;
    padding: 6px;
    background-color: #6aafdd;
    border: none;
    color: white;
}

#login {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 6px;
    padding: 6px;
    background-color: #6aafdd;
    border: none;
    color: white;
}

#cadastre-se {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 6px;
    padding: 6px;
    background-color: #6aafdd;
    border: none;
    color: white;
}

#link-botao-topo {
    text-decoration: none;
    color: white;
    background-color: rgb(82, 137, 255);
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
    border-radius: 40%;
}

#container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 70px;
}

#segundo-paragrafo {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 70px;
}

#sobre-sala-de-aula {
    margin-left: 20px;
}

.card {
    margin-top: 20px;
    margin-left: 70px
}

#rodape {
    color: #002238;
    background-color: #b9e2fe;
    padding: 50px;
}

#form-faleconosco {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 33%;
    margin-right: 33%;
    justify-content: center;
}

input, select, textarea {
    border-radius: 5px;

}

.campo-faleconosco label {
    display: block;
    margin-bottom: 2px;
}

.campo-faleconosco input[type="text"], .campo-faleconosco input[type="email"], .campo-faleconosco textarea {
    border: 1px solid #6aafdd;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    margin-bottom: 30px;
}

.campo-faleconosco select {
    border: 1px solid #6aafdd;
    display: block;
    margin-bottom: 30px;
    background-color: #6aafdd;
    color: white;
}

.campo-faleconosco textarea {
    width: 416px;
}

#botao-faleconosco {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 6px;
    background-color: #6aafdd;
    border: none;
    color: white;
    border-radius: 5px;
}

#faleconosco-enviado {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 25%;
    margin-right: 25%;
}
